<h1>{{title}}</h1>
<p>Welcome to <em>The local Library.</em>a very basic Express website developed as a tutorial example on the Mozilla
    Developer Network.</p>

<h1>Dynamic content</h1>
{{#if error}}
<p>Error getting dunamic content</p>
{{else}}
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books: </strong>{{data.bookCount}}</li>
    <li><strong>Copies: </strong>{{data.bookInstanceCount}}</li>
    <li><strong>Copies available: </strong>{{data.bookInstanceAvailableCount}}</li>
    <li><strong>Authors: </strong>{{data.authorCount}}</li>
    <li><strong>Genres: </strong>{{data.genreCount}}</li>
</ul>
{{/if}}